In [5]:
import pandas as pd

In [6]:
columns = ['StLastName', 'StFirstName', 'Grade', 'Classroom', 'Bus', 'Gpa']
students = pd.read_csv('list.txt', names=columns)
students.head()

    StLastName StFirstName  Grade  Classroom  Bus   Gpa
0       COOKUS        XUAN      3        107   52  3.07
1  SCHOENECKER      PHUONG      6        109    0  3.15
2     ELHADDAD      SHANTE      3        107   52  2.86
3    RACANELLO        NOEL      6        102   56  3.13
4      WOOLERY       NOLAN      2        104   51  2.92

In [7]:
columns = ['TLastName', 'TFirstName', 'Classroom',]
teachers = pd.read_csv('teachers.txt', names=columns)
teachers.head()

  TLastName TFirstName  Classroom
0      COOL     REUBEN        101
1     KERBS     BENITO        102
2    FALKER     ADOLPH        103
3     STEIB       GALE        104
4     HANTZ        JED        105

In [23]:
df = students.join(teachers.set_index('Classroom'), on='Classroom')

In [11]:
# ******************************************************************************
#                       lastNameBus
# Returns the information of the student depending on the student last name
# For each entry found, print the last name, first name and
# the bus route the student takes.
# ******************************************************************************
def lastNameBus(last):
    bus = df.loc[df['lastName'] == last]
    j = bus.shape[0]
    if j == 0:
        print('')
        return
    for i in range(0, j):
        lName = bus.iloc[i][0]
        fName = bus.iloc[i][1]
        bNum = bus.iloc[i][4]
        print("%s,%s,%s" %(lName, fName, bNum))

In [12]:
# ******************************************************************************
#                       studentLastname
# Returns the information of the student depending on the student last name
# For each entry found, print the last name, first name, grade and classroom
# assignment for each student found and the name of their
# teacher (last and first name).
# ******************************************************************************
def studentLastname(last):
    bus = df.loc[df['lastName'] == last]
    j = bus.shape[0]
    if j == 0:
        print('')
        return
    for i in range(0, j):
        lName = bus.iloc[i][0]
        fName = bus.iloc[i][1]
        gra = bus.iloc[i][2]
        cRoom = bus.iloc[i][3]
        tLast = bus.iloc[i][6]
        tFirst =bus.iloc[i][7]
        print('%s,%s,%s,%s,%s,%s' %(lName, fName, gra, cRoom, tLast, tFirst))

In [13]:
# ******************************************************************************
#                       teacher
# Search for teacher by last name
# For each entry found, print the last and the first name of the student.
# ******************************************************************************
def teacher(tlast):
    tlast = df.loc[df['tLastName'] == tlast]
    j = tlast.shape[0]
    if j == 0:
        print('')
        return
    for i in range(0, j):
        lName = tlast.iloc[i][0]
        fName = tlast.iloc[i][1]
        print('%s,%s' %(lName, fName))

In [14]:
# ******************************************************************************
#                       busRoute
# Returns the student list of a given bus route
# For each such entry, output the first and the last name of the student
# and their grade and classroom.
# ******************************************************************************
def busRoute(busNum):
    bus = df.loc[df['bus'] == busNum].head()
    j = bus.shape[0]
    if j == 0:
        print('')
        return
    for i in range(0,j):
        fName = bus.iloc[i][1]
        lName = bus.iloc[i][0]
        gra = bus.iloc[i][2]
        cRoom = bus.iloc[i][3]
        print("%s,%s,%s,%s" %(fName, lName, gra, cRoom))

In [ ]:
# ******************************************************************************
#                       studentsInGrade
# Returns all students within a certain grade
# For each entry, output the name (last and first) of the student
# ******************************************************************************
def studentsInGrade(grade):
    grade = df.loc[df['grade'] == grade]
    j = grade.shape[0]
    if j == 0:
        print('')
        return
    for i in range(0,j):
        lName = grade.iloc[i][0]
        fName = grade.iloc[i][1]
        print("%s,%s" %(lName, fName))

In [15]:
# ******************************************************************************
#                       lowestGPA
# Given a specific grade, the student with the lowest gpa is returned
# If the L[ow] keyword is used in the command, find the entry in the
# students.txt file for the given grade with the lowest GPA.
# Report the contents of this entry (name of the student, GPA,
# teacher, bus route).
# ******************************************************************************
def lowestGPA(grade):
    grade = df.loc[df['grade'] == grade]
    grade = grade.sort_values(by=['gpa']).head(1)
    lName = grade.iloc[0][0]
    fName = grade.iloc[0][1]
    gp = grade.iloc[0][5]
    tlast = grade.iloc[0][6]
    tfirst = grade.iloc[0][7]
    bRoute = grade.iloc[0][3]
    print('%s,%s,%s,%s,%s,%s' %(lName, fName, gp, tlast, tfirst, bRoute))

In [16]:
# ******************************************************************************
#                       highestGPA
# Given a specific grade, the student with the highest gpa is returned
# If the H[igh] keyword is used in the command, find the entry in the
# students.txt file for the given grade with the highest GPA. Report the
# contents of this entry (name of the student, GPA, teacher, bus route).
# ******************************************************************************
def highestGPA(grade):
    grade = df.loc[df['grade'] == grade]
    grade = grade.sort_values(by=['gpa'], ascending=False).head(1)
    lName = grade.iloc[0][0]
    fName = grade.iloc[0][1]
    gp = grade.iloc[0][5]
    tlast = grade.iloc[0][6]
    tfirst = grade.iloc[0][7]
    bRoute = grade.iloc[0][3]
    print('%s,%s,%s,%s,%s,%s' %(lName, fName, gp, tlast, tfirst, bRoute))

In [17]:
# ******************************************************************************
#                       average
# When this instruction is issued your program shall perform the following
# actions:
#  Search the contents of the students.txt file for the entries where the
#   studentâ€™s grade matches the number provided in the instruction.
#  Compute the average GPA score for the entries found. Output the grade level
#   (the number provided in command) and the average GPA score computed.
# ******************************************************************************
def average(gradeLevel):
    avg = df.loc[df['grade'] == gradeLevel]
    # Print variable value as well
    print("Grade:%d\t\tAverage GPA:%0.2f" %(gradeLevel, avg['gpa'].mean()))

In [18]:
# ******************************************************************************
#                       info
# When this instruction is issued your program shall perform the following
# actions:
#  For each grade (from 0 to 6) compute the total number of students in that
#   grade.
#  Report the number of students in each grade in the format
# <Grade>: <Number of Students>
# sorted in ascending order by grade.
# ******************************************************************************
def gradeRange():
    for i in range(0, 7):
        info = df.loc[df['grade'] == i]
        print("Grade:%d\t\tNumber of Students:%d" %(i,info.shape[0]))

In [19]:

# ******************************************************************************
#                       testing block
# ******************************************************************************
grade = 2
#print(df.head(10))
#lastNameBus('WOOLERY')
#studentLastname('WOOLERY')
#teacher('GAMBREL')
#busRoute(52)
#studentsInGrade(grade)
#lowestGPA(grade)
#highestGPA(grade)
#average(grade)
#gradeRange()

In [40]:
# ******************************************************************************
#                       classroom
# Given a classroom number, list all students assigned to it.
# Need to functionalize
# ******************************************************************************
def classRoomStudents():
    classroom = df.loc[df['Classroom'] == 107]
j = classroom.shape[0]
if j == 0:
    print('')
else:
    for i in range(0,j):
        sLast = classroom.iloc[i][0]
        sFirst = classroom.iloc[i][1]
        print("%s,%s" %(sLast,sFirst))

COOKUS, XUAN
ELHADDAD, SHANTE
SWEDLUND, SHARRI
CIGANEK, MANIE
COVINGTON, TOMAS
EARLY, TORY
LINHART, LELA

In [52]:
# ******************************************************************************
#                       classroom
# Given a classroom number, find the teacher (or teachers) teaching in it.
# Need to functionalize
# ******************************************************************************
def classRoomTeachers():
    classroom = df.loc[df['Classroom'] == 107]
    classroom = classroom.drop_duplicates('TLastName')
    j = classroom.shape[0]
    if j == 0:
        print('')
    else:
        for i in range(0,j):
            tLast = classroom.iloc[i][6]
            tFirst = classroom.iloc[i][7]
            print('%s,%s' %(tLast, tFirst))